
header {
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
}
nav {
	display: inline-block;
	vertical-align: middle;
	
}
li {
	
	display: inline-block;
	color: #343638;

}
.logo {
	font-family: Helvetica;
	vertical-align: middle;
	padding: 20px;
	font-size: 14px;
	}
.logo0 {
	font-family: Helvetica;
	vertical-align: middle;
	padding: 20px;
	color: #FA6980;
	font-size: 18px;
	}
.img1 {
	display: inline-block;
	vertical-align: middle;
	width: 360px;
	height: 180px;
	
}
.div1 {
	width: 1210px;
	height: 410px;
	margin: auto;
	margin-top: 75px;
	margin-bottom: 58px;
}
.div2 {
	height: 60px;
	color: #202124;
	font-family: Helvetica;
	font-size: 24px;
	
}
.div3 {
	display: inline-block;
	margin-right: 40px;
	vertical-align: middle;
	 
}
body{
	background-color: #F6F8F9;
	height: 2000px;
}
.div4 {
	width: 360px;
	height: 160px;
	display: inline-block;
	margin-right: 40px;
	vertical-align: middle;
	background-color:white;
	font-family: Helvetica;
	font-size: 16px;
	padding-top: 50px;
	padding-left: 28px;
	padding-right: 50px;
	color: #A6ADB4;
}
.imgsty {
	padding-top: 10px;
}
.img2 {
	display: inline-block;
	vertical-align: middle;

}
.img6 {
	position: relative;
	width: 50%;

}
.classfordiv {
	width: 50%;
}
.classfordiv2 {
	width: 100%;
	position: absolute;
}