
header {
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}
nav {
	display: inline-block;
	vertical-align: middle;
	
}
li {
	
	display: inline-block;
	color: #343638;

}
.logo {
	font-family: Helvetica;
	vertical-align: middle;
	padding: 20px;
	font-size: 14px;
	}
.logo0 {
	font-family: Helvetica;
	vertical-align: middle;
	padding: 20px;
	color: #FA6980;
	font-size: 18px;
	}
.img1 {
	display: inline-block;
	vertical-align: middle;
	width: 360px;
	height: 180px;
	
}
.div1 {
	width: 1210px;
	height: 410px;
	margin: auto;
	margin-top: 75px;
	margin-bottom: 58px;
}
.div2 {
	height: 60px;
	color: #202124;
	font-family: Helvetica;
	font-size: 24px;
	
}
.div3 {
	display: inline-block;
	margin-right: 40px;
	vertical-align: middle;
	 
}
body{
	background-color: #F6F8F9;
}
.div4 {
	width: 360px;
	height: 160px;
	display: inline-block;
	margin-right: 40px;
	vertical-align: middle;
	background-color:white;
	font-family: Helvetica;
	font-size: 16px;
	padding-top: 50px;
	padding-left: 28px;
	padding-right: 50px;
	color: #A6ADB4;
}
.imgsty {
	padding-top: 10px;
}
.img2 {
	display: inline-block;
	vertical-align: middle;

}
.img6 {
	position: absolute;
	height: 430px;
	width: 760px;

}
.classfordiv {
	width: 50%;
}
.classfordiv2 {
	margin-right: 30px;
	display: inline-block;
	position: relative;
	width: 760px;
	height: 900px;
	margin: auto;
	margin-right: 40px;
	margin-left: 350px;
}
h2 {
	position: absolute;
	top: 16%;
	left: 40%;
	width: 60px;
	z-index: 2;
	color: white;
	font-family: Helvetica;
	width: 280px;
	height: 16px;
}
.secondpos {
	margin-top:470px;
}
.mydiv {
	width: 680px;
}
.fornewdiv {
	display: inline-block;
	width: 370px;
	height: 900px;
}
.fornewdiv img {
	display: inline-block; 
}
/*.div9 {
	width: 1210px;
	height: 410px;
	margin: auto;
	margin-top: 75px;
	margin-bottom: 58px;
}*/
.divdiv7{
	margin-bottom: 100px;
}
.diva {
	width: 100%;
	background-color: #A6ADB4;
	height: 200px;
}
.text {
	color: white;
	font-family: Acumin Pro;
	font-size: 16px;
	display: inline-block;
	margin-right: 140px;
	vertical-align: top;
}
.margina {
	padding: 56px 350px;
}
.inlina {
	display: inline-block;
	vertical-align: middle;
	margin-right: 140px;
}
.class {
	color: white;
	display: block;
	margin-bottom: 20px;
}