
header {
	width: 100%;
	height: 50px;
}
nav {
	display: inline-block;
	vertical-align: middle;
	
}
li {
	
	display: inline-block;
	color: #343638;

}
.logo {
	font-family: Helvetica;
	vertical-align: middle;
	padding: 20px;
	}
.logo0 {
	font-family: Helvetica;
	vertical-align: middle;
	padding: 20px;
	color: #FA6980;
	}
.img1 {
	display: inline-block;
	vertical-align: middle;
}
.div1 {
	width: 1160px;
	height: 410px;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 58px;
}
.div2 {
	height: 60px;
	color: #202124;
	
}